---
layout: default
title: Projects
permalink: /projects
---

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Projects
            </h1>
            <h2 class="subtitle">
                Some of my favorites that I did over the years.
            </h2>
        </div>
    </div>
</section>


{% for project in site.projects %}
<section id="{{ project.anchor }}" class="container section hero pb-0">
    <article class="is-section has-text-centered">
        <div class="container is-centered">
            <div class="is-flex is-flex-centered">
                <h3 class="title is-marginless has-text-weight-bold">{{ project.name }}</h3>
                {% if project.github %}
                <a class="no-style" href="{{project.github}}"><span class="icon"><i class="fab fa-github"></i></span></a>
                {% endif %}
                {% if project.youtube %}
                <a class="no-style" href="{{project.youtube}}"><span class="icon"><i class="fab fa-youtube"></i></span></a>
                {% endif %}
            </div>
            <div class="is-flex is-flex-centered">
                {% for detail in project.technologies %}
                <span class="subtitle is-marginless">{{ detail }}</span>
                {% if forloop.last == false %}
                <span class="bullet"></span>
                {% endif %}
                {% endfor %}
            </div>
            <div class="is-flex is-flex-centered">
                <div><span>{{ project.duration.start }}</span>-<span>{{ project.duration.end }}</span></div>
            </div>
            <div class="is-vertical-sub-line is-centered"></div>
        </div>


        <p>{{ project.content | markdownify }}</p>
    </article>
</section>
{% endfor %}