<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <meta property="og:title" content="Max Mayr">
    <meta name="author" content="Max Mayr">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Software Engineer &amp; Software Architect">
    <meta property="og:description" content="Software Engineer &amp; Software Architect">
    <meta name="keywords" content="Portfolio, Max Mayr, Software Engineering, Blog">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐱‍👤</text></svg>">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/c497927726.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Lato&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
{% include navigation.html %}
{{ content }}
{% include footer.html %}
</body>
</html>